body {
  font-family: 'Architects Daughter', cursive;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#root {
  display: flex;
}

#navDiv {
  width: 100%;
  height: 100%;
}

#imgBtnDiv {
  display: flex;
  justify-content: center;
}

#playBtn {
  width: 5em;
  height: 5em;
}

#howToPlayList {
  font-size: 25px;
  font-family: monospace;
}

#listPlayImg {
  width: 18px;
  height: 18px;
}

.navBar {
  font-family: 'Risque', cursive;
  display: flex;
  justify-content: center;
}

#fightSpan {
  font-family: 'Risque', cursive;
  color: red;
}
.percentage{
  font-size: 20px;
}
.imageDivNotShown{
  display: none;
}
.imageDivShown{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.more-btn{
  border: solid 5px black;
}
a {
  text-decoration: none;
}