body,
html {
  font-family: "Architects Daughter", cursive;
  background-color: #507dbc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  margin-top: -7px;
  /* background-color: whitesmoke; */
  color: white;
}

/* input{
  background-color: whitesmoke;
} */

#root {
  width: 100vw;
  height: 100vh;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.entire-app {
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

/**
                |--------------------------------------------------
                | NAVBAR BELOW...
                |--------------------------------------------------
                */

.links {
  text-decoration: none;
  outline: none;
}

.testBar {
  display: flex;
  justify-content: space-around;
}

NavBar-flex-2 {
  padding-left: 25px;
}

.testToolBar {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  background-color: #02182b;
  width: auto;
}

.user-nav-options {
  padding-right: 25px;
}

/**
                      |--------------------------------------------------
                      | HOME SCREEN BELOW...
                      |--------------------------------------------------
                      */

.choices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  height: 100%;
}

.home-winner {
  color: green;
}

.home-loser {
  color: red;
}

.winnerBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-choices {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hidden {
  display: none;
}

.earned-more {
  font-size: 30px;
}

.default-home-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#home-screen {
  background-color: whitesmoke;
}

div.home-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.app-nav {
  display: flex;
  width: 100%;
  height: 7%;
}

.home-nav-container {
  display: flex;
  width: 100%;
}

.home-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  list-style: none;
}

.nav-item-container {
  display: flex;
  width: 25%;
  height: 5%;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#buttons-for-movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#versus-span {
  font-family: "Ruslan Display", cursive;
  font-size: 30px;
  color: black;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.seek {
  padding-left: 24px;
}

.searchy {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: whitesmoke;
  width: 100vw;
}

/* .search-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
} */

.userInput {
  display: flex;
}

.home-movie-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.loading-circ {
  display: flex;
  align-self: center;
  margin-bottom: 25%;
}

#tmdb-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1%;
}

.all-cards-container {
  display: flex;
  justify-content: space-around;
}

.aSingleMovieCard {
  display: flex;
}

.card-container {
  display: flex;
}

.movie-list {
  display: flex;
}

.movie-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.default-home-screen {
  display: flex;
  flex-wrap: wrap;
  max-height: fit-content;
  /* flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center; */
}

.single-movie-container {
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 115px 0px 100px;
  margin-top: -100px;
}
.single-phonemovie-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.movie-btn {
  cursor: pointer;
}

/**
        |--------------------------------------------------
        | EDIT BLOG SCREEN BELOW...
        |--------------------------------------------------
        */

/*THIS GIVES MY EDIT BLOG MODAL A TRANSPARENT BACKGROUND. MATERIAL UI MADE IT TRICKY*/

.MuiModal-root-112> :nth-child {
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-size: 50px;
}

/**
        |--------------------------------------------------
        | PROFILE SCREEN BELOW...
        |--------------------------------------------------
        */

.hide {
  display: none;
}

.blurb {
  display: flex;
  justify-content: center;
  align-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 100%;
}

.profile-img {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  padding-left: 25px;
}

/* .user-choices{
  padding-right: 25px;
} */

.welcome-message-profile {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.blog-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#user-profile {
  display: flex;
  justify-content: center;
}

#user-banner-edit {
  width: 100%;
}

.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.edit-blog-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: none;
}

#user-profile {
  outline: none;
}

#modal-form {
  background-color: #8baaad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.text-field {
  text-align: center;
  padding: 30px;
}

#helper-text #multiline-flexible {
  text-align: center;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  #greeting {
    display: none;
  }
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .profile-img {
    position: inherit;
  }
  .loading-circ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 90%;
  }
  #modal-form {
    width: inherit;
  }
  .testBar {
    justify-content: space-between;
  }

}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html {
    display: flex;
    justify-content: center;
    width: 200px;
  }
  #greeting {
    display: none;
  }
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .profile-img {
    position: inherit;
  }
  .loading-circ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 90%;
  }
  #modal-form {
    width: inherit;
  }
  .testToolBar {
    width: 50%;
  }
  .testBar {
    width: 50%;
    justify-content: space-between;
  }
} */

@media only screen and (max-width: 768px) {
  #greeting {
    display: none;
  }
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .profile-img {
    position: inherit;
  }
  .loading-circ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-bottom: 90%;
  }
  #modal-form {
    width: inherit;
  }
  .testBar {
    justify-content: space-between;
  }
  .leaderboard-data{
    width: 50%
  }
}

.single-movie {
  padding-bottom: 15px;
}

/*____________________________________________________
          | EDIT PROFILE BELOW
          |_____________________________________________________
          */

.MuiModal-root-112 {
  /* background-color: gainsboro; */
  /* opacity: .9; */
}

.MuiInput-input-171 {
  font-size: 50px;
}

.ternary-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  /* height: 100vh; */
}

.upload_widget_{
  cursor: pointer;
}

#upload_widget_opener {
  /* display: flex; */
  /* justify-content: center;
  align-content: center; */
  width: 500px;
  /* height: auto;
box-sizing: border-box;
overflow: hidden; 
*/
  background-color: #8baaad;
  border-style: none;
  /*
cursor: pointer; */
}

.upload_widget_img {
  max-width: 500px;
  width: 100%;
  height: auto;
  max-height: 500px;
  border: 10px solid rgb(70, 73, 71, 0.83);
}

#upload_widget_btn {
  display: flex;
  max-width: 500px;
  justify-content: center;
  width: 50vw;
  padding: 0px;
  border-style: none;
}

.paper-edit {
  flex-grow: 1;
  background-color: black;
}

/*____________________________________________________
                                                | LOGIN USER BELOW
                                                |_____________________________________________________
                                                */

.loginBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-user-container {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-user-username,
.login-user-password {
  display: flex;
  justify-content: center;
}

.login-user-username {
  width: 216px;
  align-self: end;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getAppBox {
  /* height: 100%; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}

/**
                                          |--------------------------------------------------
                                          | FAVORITES BELOW....
                                          |--------------------------------------------------
                                          */

.favs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pad {
  padding-top: 7px;
}

.FavoriteMovieList-card-102 {
  display: flex;
  /* padding: 10px; */
  max-width: 275px;
  align-items: center;
  flex-direction: column;
}

/**
                                          |--------------------------------------------------
                                          | GAME SCREEN BELOW....
                                          |--------------------------------------------------
                                        */

#swal-message {
  color: red;
  font-size: 25px;
}

#win-win {
  display: flex;
  justify-content: center;
  background-color: black;
}

.swal-alert {
  background-color: whitesmoke;
}

#swal-message-right {
  color: green;
  font-size: 25px;
}

.curtain {
  background-image: url("https://res.cloudinary.com/movie-fights/image/upload/v1528322015/theaterCurtain.jpg");
}

.movie-1-and-2-container {
  height: 95vh;
}

.movie-1-and-2-container-phone{
  width: 100vw;
}

.MuiFormGroup-root-94 {
  margin-top: -8px;
}

.default-home-screen {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap;
  max-height: fit-content; */
}