body,
html {
  /* font-family: 'Architects Daughter', cursive; */
  background-color: #8baaad;
  width: 100vw;
  height: 100vh;
}
/* input{
  background-color: whitesmoke;
} */
#root {
  width: 100vw;
  height: 100vh;
  /* padding-left: 40px;
  padding-right: 40px; */
}
.entire-app {
  width: 100vw;
  height: 100vh;
}
.app {
  /* border: 3px solid pink; */
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

                                                          /**
                                                          |--------------------------------------------------
                                                          | NAVBAR BELOW...
                                                          |--------------------------------------------------
                                                          */

.links {
  text-decoration: none;
  outline: none;
}

.testBar {
  display: flex;
  justify-content: space-around;
  background-color: #253c78;
}
.testToolBar {
  display: flex;
  justify-content: space-between;
  background-color: #253c78;
}
.login-btn {
  color: red;
}
/**
                                                          |--------------------------------------------------
                                                          | HOME SCREEN BELOW...
                                                          |--------------------------------------------------
                                                          */

.hidden {
  display: none;
}

.default-home-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#home-screen {
  background-color: whitesmoke;
}

div.home-container {
  /* border: 2px solid rgb(185, 182, 0); */
  display: flex;
  width: 100%;
  height: 100%;
}

.app-nav {
  /* border: 1px dashed yellowgreen; */
  display: flex;
  width: 100%;
  height: 7%;
}

.home-nav-container {
  display: flex;
  width: 100%;
}

.home-nav {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  list-style: none;
}

.nav-item-container {
  /* border: 1px solid rgb(0, 255, 242); */
  display: flex;
  width: 25%;
  height: 5%;
}

.nav-item {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#buttons-for-movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .versus-div {
margin-top: 50%;  
} */

#versus-span {
  font-family: "Ruslan Display", cursive;
  font-size: 30px;
  color: black;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.seek {
  padding-left: 24px;
}

.searchy {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: whitesmoke;
  width: 100vw;
}

/* .search-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
} */

.userInput {
  display: flex;
}

.home-movie-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.all-cards-container {
  display: flex;
  justify-content: space-around;
}
.aSingleMovieCard {
  display: flex;
}
.card-container {
  display: flex;
}
.movie-list {
  display: flex;
  border: 5px solid red;
}
.movie-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.default-home-screen {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center; */
}

.single-movie-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 115px 0px 100px;
  margin-top: -100px;
}
.movie-btn {
  cursor: pointer;
}

                                                          /**
                                                          |--------------------------------------------------
                                                          | PROFILE SCREEN BELOW...
                                                          |--------------------------------------------------
                                                          */

.hide {
  display: none;
    /* top:-40px */
  }

.profile {
  display: flex;
  flex-direction: column;
}

.profile-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
}

.welcome-message-profile{
  display: flex;
  justify-content: center;
}

.blog-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
#user-profile {
  display: flex;
  justify-content: center;
}

.blog-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.edit-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: none;
}

#user-profile{
  outline: none;
}

@media only screen and (max-width: 768px) {
  .single-movie-container {
    /* display: flex;
    padding: 50px;
    padding-top: 120px; */

    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 120px;
  }
}
/* @media only screen and (min-width: 768px) {
  .single-movie-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 120px;
    
  }
} */
@media only screen and (min-width: 523px) {
  .single-movie-container {
    /* display: flex;
    justify-content: center;
    /* padding: 50px;
    padding-top: 120px; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  .single-movie-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 115px 0px 100px;
    margin-top: -100px;
    /* display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 120px; */
  }
}

.single-movie {
  padding-bottom: 15px;
}

                                                /*____________________________________________________
                                                | EDIT PROFILE BELOW
                                                |_____________________________________________________
                                                */

.ternary-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  /* height: 100vh; */
}

#upload_widget_opener {
  /* display: flex; */
  /* justify-content: center;
  align-content: center; */
  width: 500px;
  /* height: auto;
box-sizing: border-box;
overflow: hidden; 
*/
  background-color: #8baaad;
  border-style: none; /*
cursor: pointer; */
}

.upload_widget_img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

#upload_widget_btn {
  display: flex;
  max-width: 500px;
  justify-content: center;
  width: 50vw;
  padding: 0px;
  border-style: none;
}



.paper-edit {
  flex-grow: 1;
  background-color: black;
}
/*____________________________________________________
                                                | LOGIN USER BELOW
                                                |_____________________________________________________
                                                */

.loginBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login-user-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.login-user-username,
.login-user-password {
  display: flex;
  justify-content: center;
}

#register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getAppBox {
  /* height: 100%; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
}

/**
                                          |--------------------------------------------------
                                          | FAVORITES BELOW....
                                          |--------------------------------------------------
                                          */

.favs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**
                                          |--------------------------------------------------
                                          | GAME SCREEN BELOW....
                                          |--------------------------------------------------
                                        */

#swal-message {
  color: red;
  font-size: 25px;
}
#swal-message-right {
  color: green;
  font-size: 25px;
}
/* default */
/* @media only screen and (min-width: 500px) {
  body,
  html {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
  }
} */

/* web displays and above also iPad Pro*/
/* @media all and (min-width: 1024px) and (max-width: 1370px) {
  body,
  html, #root {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
  }
  div.home-container{
    display: flex;
    width: 100%;
  }
  .app-nav{
    display: flex;
    width: 100%;
    height: 100%;
    
  }
  .home-nav-container{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }
  .home-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
} */

/* iphoneX */
/* @media all and (min-width: 768px) and (max-width: 1023px) {
  body,
  html {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: green;
    color: white;
  }

  div.home-container{
    display: flex;
    width: 100%;
  }
  .app-nav{
    display: flex;
    width: 100%;
    height: 100%;

  }
  .home-nav-container{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }
  .home-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
} */
/* iPad but not iPad Pro*/
/* @media all and (min-width: 570px) and (max-width: 767px) {
  body,
  html {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    color: white;
  }
} */
/* anything smaller than 570px GS5, PIXEL 2, PIXEL 2XL, IPHONE 5S, IPHONE 678 AND PLUS, IPHONE X */
/* @media all and (max-width: 569px) {
  body,
  html {
    font-family: 'Architects Daughter', cursive;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: purple;
    color: white;
  }
} */
